.WPM{
	margin:0;
	padding: 0;
}
.backGround{
    background-color: #605ca8;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eceff4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

.aSidebar{
    color: black;
    text-decoration: none;

}

.aSidebar:hover {
    color: blue;
}
.azulado{
    background-color: #eceff4;
}


.salidaInput{
    background-color: #605ca83b;
}